<div class="main-container">
  <mat-card>
    <mat-card-title>
      <h1>{{device.serial_number}} :  {{device.status}}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      {{device.last_seen_at}}
    </mat-card-subtitle>
    <img mat-card-image src="./asse" alt="">
    <mat-card-content>
      {{device.mac_wifi}}
      {{device.voltage}}
      {{device.url}}
      {{device.connection_type}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Back</button>
      <button mat-button>Ok</button>
    </mat-card-actions>
  </mat-card>
</div>
