.footer {
  background-color: whitesmoke;
  color: #fff;
  position: fixed;
  bottom: 0;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.float {
  color: #161A6C;
  width: 100%;
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: 10px;
}
