.toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  margin: auto;
  background-color: rgba(22, 26, 108, 0.4);
  height: 75px;
  align-content: center;
}

.nav{
  float:left;
  padding-top: 20px;
  padding-left: 3%;
  color: white;
}

mat-sidenav-container.a.active {
  background: #8e8d8d;
  color: #161A6C;
}

.material-icons{
  color: #161A6C;
}

.user-cercle{
  margin-top: 20px;
  margin-right: 3%;
}

.middle{
  display: flex;
  padding-top: 10px;
}

.logo {
  height: 60px;
  width: auto;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
