table {
  width: 100%;
}

.mat-header-cell , .mat-cell{
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter{
 margin-top: 15px;
}

.row :hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.row .selected {
  background-color: whitesmoke;
  color: white;
}
.row .selected:hover {
  background-color: whitesmoke;
  color: white;
}
.row .selected:active {
  background-color: wheat;
  color: white;
}
