<div class="details-container" *ngIf="row">
  <mat-card>
    <mat-card-title>
      <h1>Get details about {{row.serial_number}}</h1>
      <h1 style="color: green"> {{row.status}} </h1>
    </mat-card-title>
    <mat-card-subtitle>
      {{row.last_seen_at}}
    </mat-card-subtitle>
    <img mat-card-image src="../../../assets/capteur-upciti.jpg" alt="">
    <mat-card-content>
      <span>Wifi : {{row.mac_wifi}}</span>
      <br>
      <span>Voltage : {{row.voltage}} V</span>
      <br>
      <span>Url : <a target="_blank" href="this.row.url">{{row.url}}</a></span>
      <br>
      <span>Connection type : {{row.connection_type}}</span>
      <br>
    </mat-card-content>
  </mat-card>
</div>
