.example-card {
  max-width: 200px;
}

.mat-card{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mat-card-image{
  width: 250px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
}

.example-header-image {
  background-image: url('/assets/upciti_park.png');
}
