<!-- Header with burger acces to navigation -->
<app-header (navToggle)="sidenav.toggle()"></app-header>

<!-- Sidebar for navigation between two screens -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <div>
      <mat-nav-list>
        <a
          id="home"
          mat-list-item
          [routerLink]="['./dashboard']"
          (click)="sidenav.close()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <mat-icon matListAvatar>home</mat-icon>
          <h3 matLine>Dashboard</h3>
          <p matLine>home page</p>
        </a>

        <a
          id="devices"
          mat-list-item
          [routerLink]="['./devices']"
          (click)="sidenav.close()"
          routerLinkActive="active"
        >
          <mat-icon matListAvatar>analytics</mat-icon>
          <h3 matLine>Devices table</h3>
          <p matLine>device details</p>
        </a>

      </mat-nav-list>
    </div>

  </mat-sidenav>
  <!-- routes will be rendered here -->
  <router-outlet></router-outlet>
<!-- <app-footer></app-footer>-->
</mat-sidenav-container>



