<app-header (navToggle)="sidenav.toggle()"></app-header>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <div>
      <mat-nav-list>
        <a
          id="home"
          mat-list-item
          [routerLink]="['./dashboard']"
          (click)="sidenav.close()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <mat-icon matListAvatar>home</mat-icon>
          <h3 matLine>Dashboard</h3>
          <p matLine>home page</p>
        </a>

        <a
          id="devices"
          mat-list-item
          [routerLink]="['./devices']"
          (click)="sidenav.close()"
          routerLinkActive="active"
        >
          <mat-icon matListAvatar>table_chart</mat-icon>
          <h3 matLine>Devices table</h3>
          <p matLine>All devices</p>
        </a>

        <a
          id="data"
          mat-list-item
          [routerLink]="['./devices/:id']"
          (click)="sidenav.close()"
          routerLinkActive="active"
        >
          <mat-icon matListAvatar style="font-size: 28px;">analytics</mat-icon>
          <h3 matLine>Analytics</h3>
          <p matLine>Devices details</p>
        </a>

      </mat-nav-list>
    </div>

  </mat-sidenav>
  <!-- routes will be rendered here -->
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</mat-sidenav-container>



