.jumbotron{
  background-image: url('/assets/b.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  min-height: 500px;
  z-index: -1
}

.text-white{
  padding: 20px;
  font-weight: bold;
  color : #161A6C;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center
}

.flex-container{
  margin-bottom: 0;
}

.mat-card{
  margin-left: 10px;
}
.mat-card-content{
  text-align: center;
}
.mat-card img{
  width: 170px;
  height: 180px;
}


.example-header-image {
  background-image: url("/assets/knight_unsplash.jpg");
  background-size: cover;
}

.content {
  max-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
