<div class="container">

  <!-- Bannière -->
  <div class="jumbotron text-center">
    <div class="text-white">
      <h1>
        Welcome to Upciti
      </h1>
      <a mat-raised-button routerLink="/devices"> Start </a>
    </div>

  <div class="flexcontainer">
    <div fxLayout="row" fxLayoutAlign="space-around" class="content">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Contact</mat-card-title>
          <mat-card-subtitle>Expertise</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/upciti_move.png" alt="edit">
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Contact</mat-card-title>
          <mat-card-subtitle>Expertise</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/upciti_light.png" alt="contact">
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Edit</mat-card-title>
          <mat-card-subtitle>Expertise</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/upciti_track.png" alt="contact">
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Contact</mat-card-title>
          <mat-card-subtitle>Expertise</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/upciti_sound.png" alt="">
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Contact</mat-card-title>
          <mat-card-subtitle>Expertise</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/upciti_park.png" alt="">
      </mat-card>

    </div>
  </div>
  </div>
</div>
